---
import Layout from "../layouts/Layout.astro";
import * as home from "../content/pages/home.md";
import { Content as Home } from "../content/pages/home.md";
import TabNav from "../components/TabNav.astro";
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
import Contact from "../components/Contact.astro";
import { getCollection } from "astro:content";

const work = await getCollection("work");
work.sort((a, b) => Date.parse(a.data.order) - Date.parse(b.data.order));
---

<Layout title="TM.OX">
	<section id="home">
		<p class="section-title">TM.OX</p>
		<a href="/#work" class="container hover:text-primary">
			<Home />
			<Icon
				name="ion:md-arrow-dropdown-circle"
				class="icon text-hover -ml-1 mt-6 animate-bounce-slow"
			/>
		</a>
	</section>
	<TabNav class="sticky top-6 z-50" />
	<section id="work">
		<p class="section-title">Selected Work</p>
		<div class="container">
			<div class="grid grid-cols-2 sm:grid-cols-5 gap-4 mt-4">
				{
					work.map((work) => (
						<a href={`/work/${work.slug}`}>
							<Image
								src={work.data.cover.src}
								alt={work.data.cover.alt}
								class="rounded-b-none"
							/>
							<div class="box">
								<strong>{work.data.title}</strong>
								<br />
								{work.data.type}
							</div>
						</a>
					))
				}
			</div>
			<a href="/#contact">
				<Icon
					name="ion:md-arrow-dropdown-circle"
					class="icon text-hover -ml-1 mt-6 animate-bounce-slow"
				/>
			</a>
		</div>
	</section>
	<section id="contact">
		<p class="section-title">Contact</p>
		<a href="/#work">
			<Icon
				name="ion:md-arrow-dropup-circle"
				class="icon text-hover -ml-1 mt-6 animate-bounce-slow"
			/>
		</a>
		<div class="container flex justify-center">
			<Contact />
		</div>
	</section>
</Layout>
