---
import { Image } from "astro:assets";
import TabLb from "../components/TabLb.astro";
import Fade from "../components/Fade.astro";
import FadeOnce from "./FadeOnce.astro";

const { src, alt, id, prev, next, cls } = Astro.props;
---

<div class={cls}>
  <a id={id} href={`#${id}`}>
    <FadeOnce origin="origin-center">
      <div class="rounded-md shadow-md">
        <Image src={src} alt={alt} class="rounded-b-none bg-secondary" />
        <div class="box">
          {alt}
        </div>
      </div>
    </FadeOnce>
    <div
      class="hidden fixed top-0 left-0 z-50 flex-col justify-center w-full h-full bg-opacity-90 backdrop-blur-xl cursor-default pointer-events-none lightbox bg-background"
    >
      <Fade>
        <div class="flex flex-col-reverse h-full sm:flex-col">
          <div
            class="flex justify-center items-center mb-10 h-full sm:mb-0 sm:mt-24"
          >
            <Image
              src={src}
              alt={alt}
              class="h-fit max-h-[80vh] w-max max-w-[95vw]"
            />
          </div>
          <div
            class="justify-center mt-4 mb-0 bg-opacity-0 sm:mb-4 h-fit box text-primary"
          >
            <strong>{alt}</strong>
          </div>
        </div>
      </Fade>
    </div>
  </a>
  <div class="hidden nav">
    <TabLb prev={`#${prev}`} close="#void" next={`#${next}`} />
  </div>
</div>

<style>
  :target ~ .nav {
    display: block;
  }
  :target > .lightbox {
    display: block;
    pointer-events: initial;
  }
</style>
