---
import { Image } from "astro:assets";

const { index, src, alt, cls } = Astro.props;
---

<label for={`lightbox-${index}`} class={`${cls} lightbox-label`}>
    <div>
        <Image
            src={src}
            alt={alt}
            class={`${cls} cursor-pointer rounded-b-none`}
        />
        <div class="box"><strong>{alt}</strong></div>
    </div>
</label>
<input
    type="checkbox"
    id={`lightbox-${index}`}
    class="lightbox-toggle hidden"
/>
<div class="lightbox-overlay hidden">
    <label for={`lightbox-${index}`} class="lightbox-close">&#x2715;</label>
    <Image src={src} alt={alt} class={`${cls} w-auto`} />
    <div class="box bg-opacity-0 text-primary text-center mt-2">
        <strong>{alt}</strong>
    </div>
</div>

<style>
    .lightbox-toggle:checked + .lightbox-overlay {
        @apply block fixed overflow-hidden top-0 left-0 w-[100vw] h-[100vh] z-50 bg-background bg-opacity-90 backdrop-blur-xl text-center;
    }
    .lightbox-toggle:checked + .lightbox-overlay img {
        @apply max-h-[90vh] max-w-[90vw] mt-10;
    }
    .lightbox-overlay img {
        @apply inline-block mt-10 max-h-[60vh] max-w-[60vw];
    }
    .lightbox-close {
        @apply absolute top-8 right-10 text-primary hover:text-secondary text-4xl cursor-pointer;
    }
</style>
