---
import { Image } from "astro:assets";
import Fade from "./Fade.astro";

const { index, src, alt, cls } = Astro.props;
---

<label for={`lightbox-${index}`} class={`${cls} lightbox-label`}>
    <Fade origin="origin-center">
        <div class="rounded-md shadow-md">
            <Image
                src={src}
                alt={alt}
                class={`${cls} cursor-pointer rounded-b-none bg-secondary`}
            />
            <div class="box"><strong>{alt}</strong></div>
        </div>
    </Fade>
</label>
<input
    type="checkbox"
    id={`lightbox-${index}`}
    class="hidden lightbox-toggle"
/>
<div class="hidden z-50 lightbox-overlay">
    <div
        class="flex flex-col justify-between h-full bg-opacity-90 bg-background backdrop-blur-xl"
    >
        <Fade class="mt-44">
            <label
                for={`lightbox-${index}`}
                class="mx-auto mt-8 text-4xl cursor-pointer text-primary hover:text-secondary w-fit"
                >&#x2715;</label
            >
            <Image
                src={src}
                alt={alt}
                class="h-fit max-h-[80vh] w-max max-w-[90vw] m-auto"
            />
            <div class="mb-8 bg-opacity-0 box text-primary">
                <strong>{alt}</strong>
            </div>
        </Fade>
    </div>
</div>

<style>
    .lightbox-toggle:checked + .lightbox-overlay {
        @apply flex flex-col fixed overflow-hidden top-0 left-0 w-[100vw] h-[100vh] text-center;
    }
</style>
