---
import { Image } from "astro:assets";
import Fade from "./Fade.astro";

const { index, src, alt, cls } = Astro.props;
---

<label for={`lightbox-${index}`} class={`${cls} lightbox-label`}>
    <div class="rounded-md shadow-md">
        <Fade>
            <Image
                src={src}
                alt={alt}
                class={`${cls} cursor-pointer rounded-b-none bg-secondary`}
            />
            <div class="box"><strong>{alt}</strong></div>
        </Fade>
    </div>
</label>
<input
    type="checkbox"
    id={`lightbox-${index}`}
    class="lightbox-toggle hidden"
/>
<div class="lightbox-overlay hidden z-50">
    <label
        for={`lightbox-${index}`}
        class="text-primary hover:text-secondary text-4xl cursor-pointer mt-8 w-fit mx-auto"
        >&#x2715;</label
    >
    <Image
        src={src}
        alt={alt}
        class="h-fit max-h-[80vh] w-max max-w-[90vw] m-auto mt-auto"
    />
    <div class="box bg-opacity-0 text-primary mb-8">
        <strong>{alt}</strong>
    </div>
</div>

<style>
    .lightbox-toggle:checked + .lightbox-overlay {
        @apply flex flex-col fixed overflow-hidden top-0 left-0 w-[100vw] h-[100vh] bg-background bg-opacity-90 backdrop-blur-xl text-center;
    }
</style>
