---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import { getCollection } from "astro:content";
import LightBox from "../../components/LightBox.astro";
import TabNav from "../../components/TabNav.astro";
import { Icon } from "astro-icon";
import Fade from "../../components/Fade.astro";

export async function getStaticPaths() {
	const collection = await getCollection("work");
	return collection.map((page) => ({
		params: { slug: page.slug },
		props: { page },
	}));
}
export async function getStaticProps({ params }: any) {
	const project = await getCollection("work");
	const page = project.find((p) => p.slug === params.slug);
	return { props: { page } };
}
const { page } = Astro.props;
---

<Layout title={`TM.OX - ${page.data.title}`}>
	<Header>
		<p class="section-title sm:ml-0">TM.OX</p>
	</Header>
	<div class="sticky right-0 top-[30px] z-40">
		<TabNav>
			<a
				slot="prev"
				href={`/work/${page.data.url.prev}`}
				class="bg-secondary rounded-full p-2 sm:p-1 shadow-md z-50"
			>
				<Icon name="ion:md-arrow-dropleft-circle" class="icon" />
			</a>
			<a
				slot="next"
				href={`/work/${page.data.url.next}`}
				class="bg-secondary rounded-full p-2 sm:p-1 shadow-md z-50"
			>
				<Icon name="ion:md-arrow-dropright-circle" class="icon" />
			</a>
		</TabNav>
	</div>
	<Fade>
		<div class="mt-20 sm:mt-12">
			<p>Client:<strong class="ml-1">{page.data.client}</strong></p>
			<p>Type:<strong class="ml-1">{page.data.type}</strong></p>
			<p>Tools:<strong class="ml-1">{page.data.tools}</strong></p>
			{
				page.data.client !== "Various" && (
					<p>
						Website:
						<a href={page.data.link} target="_blank">
							<strong class="ml-1">{page.data.website}</strong>
						</a>
					</p>
				)
			}
			<p>{page.data.description}</p>
		</div>
	</Fade>
	<div class="grid grid-cols-1 sm:grid-cols-12 gap-3 sm:gap-4 mt-4">
		{
			page.data.images.flatMap((image: any, index: any) => (
				<LightBox
					index={index}
					src={image.src}
					alt={image.alt}
					cls={image.class}
				/>
			))
		}
	</div>
</Layout>
